<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369141858598-27mhtbn4e37bt4tpiab24pe6is8o6b72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369141858598-27mhtbn4e37bt4tpiab24pe6is8o6b72</string>
	<key>API_KEY</key>
	<string>AIzaSyBk9XIe8-2j6MRARBlMTEjFjDTMvpuCPdc</string>
	<key>GCM_SENDER_ID</key>
	<string>369141858598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.longCourseProject</string>
	<key>PROJECT_ID</key>
	<string>my-long-course-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-long-course-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369141858598:ios:391f5f9a298d516c2a81e7</string>
</dict>
</plist>